body{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

.country-container{
  display:flex;
  align-items:center;
  justify-content:center;
  flex-wrap:wrap;
  gap:20px;
  padding:20px;
}

.country-filter{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:30px 50px;
}

@media only screen and (max-width:767px)
{
  .country-filter{
    display:block;
  }
}